/*
	
	My Custom Stylesheet

*/

/* First pull in Bootstrap's stylesheet. */
@import url(assets/css/bootstrap.css);

/* Now my custom styles. */
.row {
	padding: 20px 0px;
}

.media-grid a:hover {
	border-color: #ddd;
}

.header {
	background-color: gray;
	padding: 10px;
}